{% set title = 'Stats' %}
<style>
    .m_title {
    text-transform: capitalize;
    }
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
{% extends "base_layout.html" %}
{% block body %}
    {% block navbar %}
        {% include '/includes/_navbar.html' %}
    {% endblock navbar %}
<div class="container-fluid">
    <h2>Stats</h2>
    <h4>Total Calories</h4>
    {% for player in calories %}
    <p class="m_title">{{ player }} calories burned: {{ calories[player] }} kCal</p>
    {% endfor %}
    <h4>Plank times</h4>
    {% for player in planks %}
    <p class="m_title">{{ player }} best time achieved: {{ planks[player] }} seconds</p>
    {% endfor %}
    <h4>Total distance run</h4>
    {% for player in distance %}
    <p class="m_title">{{ player }} distance run: {{ distance[player] }} km</p>
    {% endfor %}
    <h4>VO2 Max</h4>
    {% for player in vo2 %}
    <p class="m_title">{{ player }} best VO2 Max: {{ vo2[player] }}</p>
    {% endfor %}

    {{ ivan_monthly_calories }}
    {{ oliver_monthly_calories }}
    {% set test = '[3,200,600,1800,22000]' %}
    <div>
        <canvas id="line-chart" width="800" height="450"></canvas>
        <input type="hidden"  id="oliver_monthly_calories" value="{{ test }}">
        <input type="hidden"  id="ivan_monthly_calories" value="{{ ivan_monthly_calories }}">
        <script>
            new Chart(document.getElementById("line-chart"), {
                type: 'line',
                data: {
                    labels: ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"],
                    datasets: [{ 
                        data: [
                            document.querySelector('#oliver_monthly_calories').value
                        ],
                        label: "Oliver - Calories Burned",
                        borderColor: "#3e95cd",
                        fill: false
                    }, { 
                        data: [
                            document.querySelector('#ivan_monthly_calories').value
                        ],
                        label: "Ivan - Calories Burned",
                        borderColor: "#8e5ea2",
                        fill: false
                    }
                ]
            },
            options: {
                title: {
                    display: true,
                    text: 'World population per region (in millions)'
                }
            }
        });
        </script>
    </div>
</div>
{% block content %}
{{ super() }}
{{results}}
{% endblock content %}
{% endblock body %}
